doctype html
head
  title Igloo
body
  h1 Igloo

  img(src='/img/igloo.png', alt='Igloo')

  h2 Igloo is a minimal app boilerplate built with Express.

  - var igloo = 'https://github.com/niftylettuce/igloo'
  p: a(href=igloo)= igloo
