doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title Igloo

  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/bootstrap-theme.min.css")

  script(src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")

  // todo: add your stylesheets here

body
  <!--[if lt IE 7]>
  p.browsehappy
    | You are using an
    strong outdated
    | browser. Please
    a(href="http://browsehappy.com/") upgrade your browser
    | to improve your experience.
  <!--[endif]-->

  // real thing

  div.container
    div.col-md-12
      div.igloo-intro(style='padding: 60px 15px; text-align: center;')
        h1 Welcome to Igloo!
        img(src='/img/igloo.png', alt='Igloo', style='padding: 40px;', onclick='bootbox.alert("Hey! This is BootBox!")')

        p Igloo is a minimal app boilerplate built with Express.

        - var igloo = 'https://github.com/niftylettuce/igloo'
        p: a(href=igloo)= igloo



  // scripts

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  script.
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\\/script>')
  script(src="/js/vendor/bootstrap.min.js")
  script(src="/js/vendor/bootbox.min.js")

  script(src="/js/plugins.js")
  script(src="/js/main.js")

  // todo: add your scripts here



  // Google Analytics: change UA-XXXXX-X to be your site's ID.
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  
  // the line below closes html element opened in IE conditional comments
</html>
